*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

span{
  position: fixed;
  border: 2px solid black;
  font-size: 25px;
  line-height: 30px;
  width: 30px;
  height: 30px;
  border-radius:50%;
  text-align:center;
  line-height: 30px;
  top: 20px;
  right: 20px;
  transition: .5s;
  z-index: 1;
} 

span:hover{
  color: #333;
}


body{
  width: 100vw;
  background: yellow;
  transition: .5s;
  background: aqua;
}
/* ======NAV======*/
aside{
  height:45vh;
  position:fixed;
  left:0;
  right:0;
  top:-45vh;
  background: #000;
  transition:.5s;
  border-bottom: 2px solid rgba(255, 255, 255, .3);
  z-index: 1;
}

nav{
  height: 100%;
  background-image: linear-gradient(to bottom, green, lime );
}

nav ul{
  display: block;
  height: 100%;

}


nav ul li{
  list-style: none;
  display: block;
  width: 100%;
  height: 25%;
  font-weight: 700;
  background: transparent;
  font-size: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
}

i{
  transition: 1s;
}

li a{
  text-decoration: none;
  color: black;

}

li a{
  cursor: pointer;
}



/*=====Menu Animation ====== */

i.active{
  transform: rotate(180deg);
}

aside.active{
  top:0;
}

span.active{
  top:50vh;
}

body.active{
  margin-top: 45vh;
}

li:hover{
  background: rgba(0, 0, 0, .3);
}


/* ======DIV SECTION======*/

div{
  width: 100%;
  padding-top: 16px;
}

p{
  margin: 15px;
}

/* ======TITLE SECTIOn======*/

#titleSite{
  width: 100vw;
  height: 100vh;
  background-image: url(titleSite.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

#introduction {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90vw;
  height: 25vh;
  background-color: rgba(255, 255, 255, .5);
  border-radius: 15px;

}

#introduction h1, #introduction h2{
  flex: 0 0 100%;

}
/* ======DIV mine======*/
  
h1 , h2{
  text-align: center;
  font-family: arial;
  line-height: 3rem;
}

div#mine p{
  line-height: 2rem;
  text-align:center;
  font-size: 1.3rem;
  letter-spacing: 1px;
}

.image{
  width: 100%;
}


div#mine img{
  width: 70%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 15px;
}



/* ======DIV technology======*/


div#technology i{
  display: block;
  color: #DD4B25;
  text-align: center;
  font-size: 80vw;
}

div#technology p{
  line-height: 2.5rem;
  text-align: center;
  font-size: 1.3rem;
  letter-spacing: 3px;
  font-weight: bold;
  color: white;
  display: block;
  width: 70vw;
  height: 2.5rem;
  background: rgba(0, 0, 0, .7);
  margin: .5rem auto ;
  border-radius: 30px;
}

div#technology .fa-css3-alt{
  color: #264DE4;
}

div#technology .fa-js-square{
  color: #F0DB4F;
}

/* ======DIV protfolio======*/

#portfolio .protfolioWrap .project{
  height: 90vw;
  width: 90vw;
  border-radius: 25px;
  background: red;
  margin: 1rem auto;
  position: relative;  

}

#portfolio .protfolioWrap .project .etykieta{
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(255, 255, 255, .0);
  color:transparent;
  height: 50%;
  width: 100%;
  margin: 0;
  transition: .5s linear;
}

#portfolio .protfolioWrap .project:hover .etykieta {
  background: rgba(255, 255, 255, .5);
  color: black;
} 

.etykieta i{
  text-align: center;
  display: block;
  font-size: 3rem;
  margin: 1rem auto;
  transition: .3s;
}

.etykieta i:hover{
  color: red;
}

/*===== CONTACT =====*/

#contact i, #contact p{
  font-size: 1.5rem;
  letter-spacing: 2px;
  line-height: 2.5rem;
}

#contact i{

  display: inline-block;
  margin-right: 1rem;
  transition:.3s;
}

#contact i:hover{
  color: indigo;
}

#contact i::after{
  content: "";
  display: inline-block;
  height: 1rem;
  width: 2px;
  background: #000;
  margin-left: .5rem;
}

@media (min-width:720px) {
  /*----Menu----*/
    span{
      display: none;
    }

    aside{
      top:0;
      height: 10vh;
    }

    nav ul {
      display: flex;
      height: auto;
    }

    nav li{
      flex: 1 1 25%;
      line-height: 10vh;
    }

    body{
      margin-top:10vh;
    }

 /*----TITLESITE----*/
    #introduction{
      width: 40vw;
    }
  /*----MINE----*/
  div#mine{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
  div.aboutMe{    
    flex: 1 0  300px;
  }

  .image{
    flex: 4 0  420px;
    justify-content: center;
    display: flex;
    align-items: center;
  }

  .image img{
    justify-content: center;
  }

  /*==== technologie====*/

    .technologyWrap{
      width: 100vw;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .technologyWrap div{
      flex: 1 1 ;

    }

   #technology .technologyWrap div i {
      font-size: 30vw;
    }
  #technology .technologyWrap div p {
      width: 30vw;
    }

/*==== PORTFOLIO====*/

#portfolio .protfolioWrap{
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#portfolio .protfolioWrap .project{
  flex: 0 0 20vw;
  height: 20vw;
  background: lime;
  overflow: hidden;
  
}  

#portfolio .protfolioWrap .project .etykieta{
  text-align:center;
  letter-spacing: 2vw;
  height: 25vh;
  line-height: 25vh;

}

#portfolio .protfolioWrap .project i{
  font-size: 10vh;
  display: inline-block;

}

/*=====Contect======= */

  #contact {
    text-align:center;
  }

}

@media (min-width:1023px) {
  
  div#mine{
    display: flex;
    
  }

  
  div.aboutMe{    
    flex: 0 0  500px;
  }

  .image{
    align-items: center;
    flex: 2 1 ;
    justify-content: center;
    display: flex;
  }

  .image img{
    justify-content: center;
  }


}